@model IEnumerable<HairdressersWebApplication1.Service>

@{
    ViewData["Title"] = "Index";
    }

    <h1>Послуги</h1>
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Створити нову</a>
    </p>
}
<div class="text-danger">@ViewBag.F1</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender.Gender1)
                </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ServiceId">Змінити</a> |
                        @*<a asp-action="Details" asp-route-id="@item.ServiceId">Деталі</a> |*@
                        <a asp-action="Delete" asp-route-id="@item.ServiceId">Видалити</a>
                    </td>
                }
                @if (User.IsInRole("user"))
                {
                    <td>
                        @*<a asp-action="Create" asp-controller="Orders" >Створити замовлення</a>*@
                        <a  asp-controller="Orders" asp-action="Create" asp-route-ClientEmail="@User.Identity.Name">Створити замовлення</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<table class="columns">
    <tr>
        <td><div class="container"><div id="chart1"></div></div></td>
        <td><div class="container"><div id="chart2"></div></div></td>
    </tr>
</table>

@section scripts{
<script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    google.charts.setOnLoadCallback(drawNewChart);

        function drawChart() {

            $.get('/api/Chart/JsonData', function(JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Співвідношення кількості замовлень та зачісок",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }

        function drawNewChart() {

            $.get('/api/Chart/JsonD', function(JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Співвідношення кількості замовлень та перукарів",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.BarChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }
</script>
}
@if (User.IsInRole("admin"))
{
<div>
    <div class="text-danger">@ViewBag.F</div>
    <h3>Оберіть exсel-файл для заватаження</h3>
    @using (Html.BeginForm("Import", "Services", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Завантажити" />
            </div>
        </div>
    }
</div>

<div>
    <h3>Завантаження інформації в файл</h3>
    <a asp-action="Export">Завантажити</a>
</div>
}